body {
   /*background-color: #0058CB; / Azul oscuro Ficohsa */
   background: linear-gradient(180deg, #004B87 0%, #002F6C 100%);
   color: #FFFFFF;            /* Texto blanco para contrastar */
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 20px;
   min-height: 100vh;
}

.contenedor-login {
   max-width: 400px;
   margin: 100px auto;
   padding: 30px;
   background-color: rgb(56 141 251); /* Fondo sutil para el formulario */
   border-radius: 8px;
   border: 1px solid #80ABE5;                  /* Borde azul claro */
}

.boton-primario {
   background-color: #0058CB; /* Azul vibrante institucional */
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;
   width: 100%;
}

.boton-primario:hover {
   background-color: #0045a3; /* Un tono un poco más oscuro al pasar el mouse */
}

/* Estilos del mensaje central */
.mensaje-retiro {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   color: #E0E6ED; /* Blanco ligeramente grisáceo */
   margin-top: 50px;
   margin-bottom: 15px;
}

.resaltado-gratis {
   font-weight: 900; /* "GRATIS" en negrita gruesa */
   color: #FFFFFF;
}

/* Línea horizontal delgada */
.linea-separadora {
   border: 0;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.4);
   width: 80%;
   margin: 20px auto;
}

/* Contenedor de marcas de tarjetas */
.logos-tarjetas {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
   margin-top: 20px;
   opacity: 0.9;
}

/* Tamaños adaptados para los logos */
.img-tarjeta {
   height: 40px;
   width: auto;
   filter: brightness(1.2); /* Resalta sobre el fondo */
}

.img-tarjeta-sm {
   height: 60px;
   width: auto;
}


.msg-retiro {
   margin-top: 30px;
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   background: #E0E6ED;
   color: #0058CB;
   height: 40px;
   width: auto;
}

.boton-primario {
   background-color: #0058CB; /* Azul vibrante institucional */
   color: white;
   border: none;
   padding: 20px 20px;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;
   width: 40%;
   margin-right: 15px;
   margin-left: 15px;
   margin-bottom: 10px;
}

.boton-primario:hover {
   background-color: #0045a3; /* Un tono un poco más oscuro al pasar el mouse */
}